<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Integración de API de Flow</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="/js/app2.js"></script> <!-- Referencia al nuevo archivo JS -->
</head>
<body>
<div class="container mt-5">
  <h2>Formulario de Pago</h2>
  <form id="paymentForm" class="needs-validation" novalidate>
    <div class="form-group">
      <label for="amount">Monto:</label>
      <input type="number" class="form-control" id="amount" required>
      <div class="invalid-feedback">
        Por favor, ingrese un monto válido.
      </div>
    </div>
    <div class="form-group">
      <label for="currency">Moneda:</label>
      <input type="text" class="form-control" id="currency" value="CLP" required>
      <div class="invalid-feedback">
        Por favor, ingrese una moneda válida.
      </div>
    </div>
    <div class="form-group">
      <label for="orderId">ID de Orden:</label>
      <input type="text" class="form-control" id="orderId" required>
      <div class="invalid-feedback">
        Por favor, ingrese un ID de orden.
      </div>
    </div>
    <div class="form-group">
      <label for="concept">Concepto:</label>
      <input type="text" class="form-control" id="concept" required>
      <div class="invalid-feedback">
        Por favor, ingrese un concepto.
      </div>
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" required>
      <div class="invalid-feedback">
        Por favor, ingrese un email válido.
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Realizar Pago</button>
  </form>
  <div id="paymentInfo" class="mt-4"></div>
</div>

<script>
    (function() {
        'use strict';
        window.addEventListener('load', function() {
            var forms = document.getElementsByClassName('needs-validation');
            Array.prototype.filter.call(forms, function(form) {
                form.addEventListener('submit', function(event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>
</body>
</html>
